In [1]:
import pandas as pd

import matplotlib.pyplot as plt

import numpy as np

from mpl_toolkits.axes_grid1.inset_locator import inset_axes

from matplotlib.projections import get_projection_class

from matplotlib.patches import Arc

from mplsoccer import Sbopen

In [2]:
parser = Sbopen()

df_competition = parser.competition()
df_competition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   competition_id             67 non-null     int64
 1   season_id                  67 non-null     int64
 2   country_name               67 non-null     object
 3   competition_name           67 non-null     object
 4   competition_gender         67 non-null     object
 5   competition_youth          67 non-null     bool
 6   competition_international  67 non-null     bool
 7   season_name                67 non-null     object
 8   match_updated              67 non-null     object
 9   match_updated_360          51 non-null     object
 10  match_available_360        5 non-null      object
 11  match_available            67 non-null     object
dtypes: bool(2), int64(2), object(8)
memory usage: 5.5+ KB

In [4]:
df_competition[df_competition['country_name'] == 'International']

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
25,1470,274,International,FIFA U20 World Cup,male,False,False,1979,2023-06-28T10:55:11.501179,None,None,2023-06-28T10:55:11.501179
26,43,106,International,FIFA World Cup,male,False,True,2022,2023-08-12T16:44:27.619465,2023-08-17T15:55:15.164685,2023-08-17T15:55:15.164685,2023-08-12T16:44:27.619465
27,43,3,International,FIFA World Cup,male,False,True,2018,2023-07-24T13:09:34.513519,2021-06-13T16:17:31.694,None,2023-07-24T13:09:34.513519
28,43,55,International,FIFA World Cup,male,False,True,1990,2023-06-28T10:58:20.137929,2021-06-12T16:17:31.694,None,2023-06-28T10:58:20.137929
29,43,54,International,FIFA World Cup,male,False,True,1986,2023-06-28T11:20:34.252935,2021-06-13T16:17:31.694,None,2023-06-28T11:20:34.252935
30,43,51,International,FIFA World Cup,male,False,True,1974,2023-07-17T23:19:58.853207,2021-06-13T16:17:31.694,None,2023-07-17T23:19:58.853207
31,43,272,International,FIFA World Cup,male,False,True,1970,2023-07-17T23:24:45.579886,None,None,2023-07-17T23:24:45.579886
32,43,270,International,FIFA World Cup,male,False,True,1962,2023-06-26T10:38:00.323984,None,None,2023-06-26T10:38:00.323984
33,43,269,International,FIFA World Cup,male,False,True,1958,2023-06-26T10:33:08.214831,None,None,2023-06-26T10:33:08.214831
65,72,107,International,Women's World Cup,female,False,True,2023,2023-09-01T12:34:19.705316,2023-09-01T12:35:45.762196,2023-09-01T12:35:45.762196,2023-09-01T12:34:19.705316
66,72,30,International,Women's World Cup,female,False,True,2019,2023-07-27T10:33:48.273734,2021-06-13T16:17:31.694,None,2023-07-27T10:33:48.273734

In [6]:
df_match = parser.match(competition_id=43, season_id=106)

df_match.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 52 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   match_id                         64 non-null     int64
 1   match_date                       64 non-null     datetime64[ns]
 2   kick_off                         64 non-null     datetime64[ns]
 3   home_score                       64 non-null     int64
 4   away_score                       64 non-null     int64
 5   match_status                     64 non-null     object
 6   match_status_360                 64 non-null     object
 7   last_updated                     64 non-null     datetime64[ns]
 8   last_updated_360                 64 non-null     datetime64[ns]
 9   match_week                       64 non-null     int64
 10  competition_id                   64 non-null     int64
 11  country_name                     64 non-null     object
 12  competition_name                 64 non-null     object
 13  season_id                        64 non-null     int64
 14  season_name                      64 non-null     object
 15  home_team_id                     64 non-null     int64
 16  home_team_name                   64 non-null     object
 17  home_team_gender                 64 non-null     object
 18  home_team_group                  48 non-null     object
 19  home_team_country_id             64 non-null     int64
 20  home_team_country_name           64 non-null     object
 21  home_team_managers_id            64 non-null     int64
 22  home_team_managers_name          64 non-null     object
 23  home_team_managers_nickname      64 non-null     object
 24  home_team_managers_dob           62 non-null     datetime64[ns]
 25  home_team_managers_country_id    64 non-null     int64
 26  home_team_managers_country_name  64 non-null     object
 27  away_team_id                     64 non-null     int64
 28  away_team_name                   64 non-null     object
 29  away_team_gender                 64 non-null     object
 30  away_team_group                  48 non-null     object
 31  away_team_country_id             64 non-null     int64
 32  away_team_country_name           64 non-null     object
 33  away_team_managers_id            64 non-null     int64
 34  away_team_managers_name          64 non-null     object
 35  away_team_managers_nickname      64 non-null     object
 36  away_team_managers_dob           63 non-null     datetime64[ns]
 37  away_team_managers_country_id    64 non-null     int64
 38  away_team_managers_country_name  64 non-null     object
 39  metadata_data_version            64 non-null     object
 40  metadata_shot_fidelity_version   64 non-null     object
 41  metadata_xy_fidelity_version     64 non-null     object
 42  competition_stage_id             64 non-null     int64
 43  competition_stage_name           64 non-null     object
 44  stadium_id                       64 non-null     int64
 45  stadium_name                     64 non-null     object
 46  stadium_country_id               64 non-null     int64
 47  stadium_country_name             64 non-null     object
 48  referee_id                       63 non-null     float64
 49  referee_name                     63 non-null     object
 50  referee_country_id               63 non-null     float64
 51  referee_country_name             63 non-null     object
dtypes: datetime64[ns](6), float64(2), int64(17), object(27)
memory usage: 26.1+ KB

In [18]:
poland_games = df_match.query('home_team_name == "Poland" or away_team_name == "Poland"').reset_index()

In [28]:
df_event = pd.DataFrame()
df_related = pd.DataFrame()
df_freeze = pd.DataFrame()
df_tactics = pd.DataFrame()

In [36]:
for id in poland_games['match_id']:
    event, related, freeze, tactics = parser.event(id)
    df_event = df_event.append(event, ignore_index=True)
    df_related = df_related.append(related, ignore_index=True)
    df_freeze = df_freeze.append(freeze, ignore_index=True)
    df_tactics = df_tactics.append(tactics, ignore_index=True)

/var/folders/mn/686s79xs0mv06qcjlx9yv1440000gn/T/ipykernel_73611/1394035147.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_event = df_event.append(event, ignore_index=True)
/var/folders/mn/686s79xs0mv06qcjlx9yv1440000gn/T/ipykernel_73611/1394035147.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_related = df_related.append(related, ignore_index=True)
/var/folders/mn/686s79xs0mv06qcjlx9yv1440000gn/T/ipykernel_73611/1394035147.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_freeze = df_freeze.append(freeze, ignore_index=True)
/var/folders/mn/686s79xs0mv06qcjlx9yv1440000gn/T/ipykernel_73611/1394035147.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_tactics = df_tactics.append(tactics, ignore_index=True)
/var/folders/mn/686s79xs0mv06qcjlx9yv1440000gn/T/ipykernel_73611/1394035147.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_event = df_event.append(event, ignore_index=True)
/var/folders/mn/686s79xs0mv06qcjlx9yv1440000gn/T/ipykernel_73611/1394035147.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_related = df_related.append(related, ignore_index=True)
/var/folders/mn/686s79xs0mv06qcjlx9yv1440000gn/T/ipykernel_73611/1394035147.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_freeze = df_freeze.append(freeze, ignore_index=True)
/var/folders/mn/686s79xs0mv06qcjlx9yv1440000gn/T/ipykernel_73611/1394035147.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_tactics = df_tactics.append(tactics, ignore_index=True)
/var/folders/mn/686s79xs0mv06qcjlx9yv1440000gn/T/ipykernel_73611/1394035147.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_event = df_event.append(event, ignore_index=True)
/var/folders/mn/686s79xs0mv06qcjlx9yv1440000gn/T/ipykernel_73611/1394035147.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_related = df_related.append(related, ignore_index=True)
/var/folders/mn/686s79xs0mv06qcjlx9yv1440000gn/T/ipykernel_73611/1394035147.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_freeze = df_freeze.append(freeze, ignore_index=True)
/var/folders/mn/686s79xs0mv06qcjlx9yv1440000gn/T/ipykernel_73611/1394035147.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_tactics = df_tactics.append(tactics, ignore_index=True)
/var/folders/mn/686s79xs0mv06qcjlx9yv1440000gn/T/ipykernel_73611/1394035147.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_event = df_event.append(event, ignore_index=True)
/var/folders/mn/686s79xs0mv06qcjlx9yv1440000gn/T/ipykernel_73611/1394035147.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_related = df_related.append(related, ignore_index=True)
/var/folders/mn/686s79xs0mv06qcjlx9yv1440000gn/T/ipykernel_73611/1394035147.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_freeze = df_freeze.append(freeze, ignore_index=True)
/var/folders/mn/686s79xs0mv06qcjlx9yv1440000gn/T/ipykernel_73611/1394035147.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_tactics = df_tactics.append(tactics, ignore_index=True)

In [37]:
df_event.head()

,id,index,period,timestamp,minute,second,possession,duration,match_id,type_id,...,foul_committed_card_name,pass_no_touch,dribble_nutmeg,block_save_block,block_deflection,pass_miscommunication,pass_deflected,bad_behaviour_card_id,bad_behaviour_card_name,foul_committed_offensive
0,bad01947-5491-406e-bbe9-2a146161aa70,1,1,00:00:00,0,0,1,0.000000,3857264,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5b336aa1-8a01-4877-916f-4087379ac7bb,2,1,00:00:00,0,0,1,0.000000,3857264,35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,93e64c47-c329-4d6d-aa73-6ed3df33878a,3,1,00:00:00,0,0,1,0.000000,3857264,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,94ef07fc-382f-4646-8f8d-853081be73c8,4,1,00:00:00,0,0,1,0.000000,3857264,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,a98cb7b0-0188-4d18-88f8-d6d945ed21a5,5,1,00:00:00.321000,0,0,2,1.955771,3857264,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN